extends layout

block content

    .workout.card
        h2 First Workout (missing remove button)

        .workout-program

            .exercise
                .exercise-name
                    h3 Squat
                .exercise-remove
                    button remove
                .exercise-description
                    p Stand with your feet spread shoulderwidth apart. Lower your body as far as you can by pushing your hips back and bending your knees. Pause, and then slowly push yourself back to the starting position.
                .exercise-sets
                    p Sets: 3
                .exercise-reps
                    p Reps/time: 20

            .exercise
                .exercise-name
                    h3 Push ups
                .exercise-remove
                    button remove
                .exercise-description
                    p Place your hands on the floor with legs straight out behind you resting on your toes. Bend your arms and slowly …
                .exercise-sets
                    p Sets: 3
                .exercise-reps
                    p Reps/time: 10

            .exercise
                .exercise-name
                    h3 Squat
                .exercise-remove
                    button remove
                .exercise-description
                    p Place your elbows on the floor shoulderwidth apart with legs stretched out behind you so only your elbows and toes are in contact with the ground. Use your abdominal muscles to keep …
                .exercise-sets
                    p Sets: 1
                .exercise-reps
                    p Reps/time: 30sec

            .exercise
                .exercise-name
                    h3 Squat
                .exercise-remove
                    button remove
                .exercise-description
                    p Stand with your feet spread shoulderwidth apart. Lower your body as far as you can by pushing your hips back and bending your knees. Pause, and then slowly push yourself back to the starting position.
                .exercise-sets
                    p Sets: 3
                .exercise-reps
                    p Reps/time: 20

            .exercise
                .exercise-name
                    h3 Push ups
                .exercise-remove
                    button remove
                .exercise-description
                    p Place your hands on the floor with legs straight out behind you resting on your toes. Bend your arms and slowly …
                .exercise-sets
                    p Sets: 3
                .exercise-reps
                    p Reps/time: 10

            .exercise
                .exercise-name
                    h3 Squat
                .exercise-remove
                    button remove
                .exercise-description
                    p Place your elbows on the floor shoulderwidth apart with legs stretched out behind you so only your elbows and toes are in contact with the ground. Use your abdominal muscles to keep …
                .exercise-sets
                    p Sets: 1
                .exercise-reps
                    p Reps/time: 30sec
            .exercise.add-new-exercise
                a(href="exercise")
                    h2 + Add exercise

    .add-workout.card
        a(href="workout")
            h2 + Create workout