extends layout

block content

    .page-title.card
        h1 Workout
        form(method="post" action="workout")
            p Name it
            input(type="text" name="title" placeholder="Workout name...")
            br
            br
            input(type="submit" value="Submit")
